theme-switcher {
  width: 2rem;

  display: grid;
  place-items: center;

  position: relative;
  padding: 0;

  background: none;
  border: 0;
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
  color: hsl(var(--clr-link));
}

theme-switcher svg {
  width: 100%;
  height: auto;

  object-fit: contain;

  stroke: hsl(var(--clr-link));

  transition: all 0.2s ease-in-out;
}

theme-switcher:hover svg,
theme-switcher:focus svg {
  stroke: hsl(var(--clr-link-hover));
}
